textarea {
    resize: none;
}

.contactContainer {
    margin: 0 auto;
    max-width: 1300px;
    padding: 0 1.3rem;
}

.contactContainerGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 6.5rem auto 10.5rem auto;
    justify-content: space-between;
    background-image: url("https://zupimages.net/up/23/34/grt9.png");
}

.contactText {
    max-width: 26rem;
}

.contactText h1 {
    font-size: 2.625rem;
    font-weight: 700;
    line-height: 1.3;
    margin-bottom: 1.7rem;
}

.contactText p {
    color: #706f7b;
    font-family: "Rubik";
    line-height: 1.6;
    margin-bottom: 1.7rem;
}

.contactInfos {
    display: flex;
    flex-direction: column;
}

.contactInfos a {
    text-decoration: none;
    color: black;
    font-weight: 500;
    margin-bottom: 1.5rem;
    transition: 0.3s;
}

.contactInfos a:hover {
    color: var(--orange-color);
}

.contactContainer form {
    display: flex;
    flex-direction: column;
}

.contactContainer form label {
    font-weight: 600;
    margin-bottom: 1rem;
}

.contactContainer form label b {
    color: var(--orange-color);
}

.contactContainer form input {
    background: #f2f2f2;
    border: none;
    padding: 1.2rem 1.8rem;
    font-size: 1rem;
    margin-bottom: 1.5rem;
}

.contactContainer form textarea {
    background: #f2f2f2;
    border: none;
    padding: 1.2rem 1.8rem;
    font-size: 1rem;
    margin-bottom: 1.5rem;
    height: 9rem;
}

.contactContainer form button {
    color: white;
    background: var(--orange-color);
    border: var(--orange-color) 2px solid;
    border-radius: 0.15rem;
    font-weight: 600;
    font-size: 1.1rem;
    padding: 1.1rem 0;
    box-shadow: 0 10px 15px 0 rgba(255, 82, 48, 0.362);
    transition: 0.3s;
    cursor: pointer;
}

.contactContainer form button:hover {
    box-shadow: 0 10px 15px 0 rgba(193, 57, 30, 0.539);
}

@media (max-width: 950px) {
    .contactContainerGrid {
        grid-template-columns: 1fr;
        text-align: center;
    }
    .contactText {
        margin: 0 auto 3rem auto;
    }
}
