footer {
    grid-gap: 7rem;
    color: #010103;
    display: grid;
    gap: 7rem;
    grid-template-columns: 27fr 21fr 21fr 21fr;
    justify-content: center;
    text-align: left;
    padding: 6rem 1.5rem;
    max-width: 1330px;
    margin: 0 auto;
}

footer a {
    color: #010103;
    text-decoration: none;
    transition: 0.2s;
}

footer a:hover {
    color: var(--orange-color);
}

.footerContent1 li:first-child {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
}

.footerContent1 li:first-child span {
    font-weight: 700;
}

.footerContent1 li:nth-child(2) {
    color: #706f7b;
    line-height: 1.7;
    margin-bottom: 1.5rem;
}

.footerContent1 li:nth-child(3),
.footerContent1 li:nth-child(4) {
    font-weight: 500;
    font-family: "Rubik";
    margin-bottom: 0.9rem;
}

.footerContent1 li:nth-child(5) {
    font-size: 14px;
}

.footerContent2 li:first-child {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
    font-weight: 700;
}

.footerContent2 li {
    margin-bottom: 1.1rem;
}

.footerContent3 li:first-child {
    font-size: 1.5rem;
    margin-bottom: 1.3rem;
    font-weight: 700;
}

.footerContent3 li {
    margin-bottom: 1.1rem;
}

.footerContent4 li:first-child {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    font-weight: 700;
}

.footerContent4 li:nth-child(2) {
    line-height: 1.5;
}

.footerContent4 li {
    margin-bottom: 0.7rem;
}

.footerContent4 {
    width: 100%;
}

.footerContent4 input {
    background-color: #ececec;
    border-color: transparent;
    border-width: 1px;
    font-family: Rubik, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
    margin-top: 1rem;
    outline: none;
    padding: 10px 60px;
}

.footerContent4 button {
    background-color: #ff4d30;
    border: 2px solid #ff4d30;
    border-radius: 0.2rem;
    box-shadow: 0 10px 15px 0 rgba(255, 83, 48, 0.25);
    color: #fff;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 700;
    padding: 1rem 2rem;
    text-decoration: none;
    transition: all 0.3s;
    width: -moz-fit-content;
    width: -webkit-fit-content;
    width: fit-content;
    width: 100%;
}

@media (max-width: 1100px) {
    footer {
        grid-template-columns: 1fr 1fr;
    }

    .footerContent4 input {
        width: 100%;
        padding: 10px 0;
    }
}
